<!doctype html>
<html>
  <head>
    <title>Object Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Object Detection</h1>
      <p>Upload image only (png and Jpg Files)</p>

      <form id="upload-form">
        <input type="file" id="fileInput" name="image" required />
        <p id="file-name"></p>
        <button type="button" onclick="detect()">Detect</button>
      </form>

      <!-- Loader -->
      <div id="loader" style="display: none">
        <div class="spinner"></div>
        <p id="progress-text">Scanning: 0%</p>
        <div class="progress-bar">
          <div id="progress"></div>
        </div>
      </div>

      <!-- Output -->
      <div id="preview"></div>
    </div>

    <script>
      const allowedFormats = [
        "image/png",
        "image/jpeg",
        "image/jpg",
        "image/gif",
        "image/tiff",
        "image/avif",
      ];

      document
        .getElementById("fileInput")
        .addEventListener("change", function () {
          const file = this.files[0];

          if (!file) return;

          // Validate file type
          if (!allowedFormats.includes(file.type)) {
            alert("Only PNG, JPG, JPEG, GIF, TIFF, AVIF allowed!");
            this.value = "";
            return;
          }

          //   document.getElementById("file-name").innerText =
          //     "Selected: " + file.name;
        });

      function detect() {
        const form = document.getElementById("upload-form");
        const data = new FormData(form);

        document.getElementById("preview").innerHTML = "";
        document.getElementById("loader").style.display = "block";

        let progress = 0;
        const progressBar = document.getElementById("progress");
        const progressText = document.getElementById("progress-text");

        // Fake scanning animation
        const interval = setInterval(() => {
          progress++;
          progressBar.style.width = progress + "%";
          progressText.innerText = "Scanning: " + progress + "%";

          if (progress >= 100) {
            clearInterval(interval);

            // Call backend after animation
            fetch("/detect", {
              method: "POST",
              body: data,
            })
              .then((res) => res.json())
              .then((data) => {
                document.getElementById("loader").style.display = "none";

                if (data.error) {
                  alert(data.error);
                  return;
                }

                document.getElementById("preview").innerHTML = `
                    <div class="images">
                        <div>
                            <h3>Uploaded</h3>
                            <img src="${data.input}">
                        </div>
                        <div>
                            <h3>Detected</h3>
                            <img src="${data.output}">
                        </div>
                    </div>
                `;
              });
          }
        }, 25); // speed of scan
      }
    </script>
  </body>
</html>
