<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection Website</title>
    <button onclick="redirecttologinpage()">Login</button>
</head>
<body>
    <h1>Object Detection Website</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="button" onclick="detectObjects()">Detect Objects</button>
    </form>
    <div id="output-container">
        <!-- Display the detected image here -->
        <!-- <img id="output-image" src="static\images\uploaded_image.jpg" alt="Detected Image"> -->
    </div>

    <script>
        function detectObjects() {
            const form = document.getElementById('upload-form');
            const formData = new FormData(form);

            fetch('/detect', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const outputImage = document.getElementById('output-image');
                outputImage.src = data.output_image;
            })
            .catch(error => console.error('Error:', error));
        }
        function redirecttologinpage() {
            window.location.href="/login";
        }
    </script>
</body>
</html>
